@charset "UTF-8";
@font-face {
  font-family: myFont;
  src: url("../fonts/Neo Sans Arabic Regular.ttf");
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0 !important;
}

body {
  direction: rtl;
  font-family: myFont;
}

.clear {
  clear: both;
}

.uppernav .navbar {
  padding: 0;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}
.uppernav .navbar .navbar-brand img {
  width: 59px;
  height: 97px;
}
.uppernav .navbar .navbar-nav {
  margin: auto;
}
.uppernav .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  margin-left: 20px;
}
.uppernav .navbar .active .nav-link {
  background-color: #000;
  border-radius: 10px;
}

.fixed-navbar {
  background-color: #f75a33 !important;
  transition: all 1s ease-in-out !important;
  padding-bottom: 20px !important;
}

.owl-nav {
  display: none;
}

.header-slider .slick-arrow {
  top: 85%;
}
.header-slider .slick-arrow::before {
  font-size: 12px;
  background-color: #fff !important;
  color: #f75a33;
}
.header-slider .slick-prev {
  left: 85%;
  z-index: 99;
}
.header-slider .slick-prev::before {
  content: "";
}
.header-slider .slick-next {
  right: 10%;
  bottom: 0;
}
.header-slider .slick-next::before {
  content: "";
}

.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 640px;
  background-position: center;
  position: relative;
  direction: rtl;
}
.header::before {
  content: "";
  background-image: linear-gradient(to right, rgba(23, 191, 218, 0), #17bfda);
  width: 100%;
  height: 100%;
  position: absolute;
}
.header .header-content {
  padding-top: 200px;
}
.header .header-content h5 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  color: #fff;
}
.header .header-content p {
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  line-height: 30px;
}
.header .header-content .btn {
  background-color: #0B7E91;
  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
}
.header .header-content .btn i {
  font-size: 13px;
  margin-right: 5px;
}
.header .header-content img {
  height: 500px;
  margin: auto;
  margin-top: -60px;
}

.what {
  margin-top: 68px;
}
.what .card-what {
  border: 1px solid #ddd;
  border-radius: 20px;
}
.what .card-what .card-bg-img {
  background-position: center;
  background-size: cover;
  height: 400px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.what .what-content {
  padding-left: 30px;
  padding-right: 30px;
}
.what h6 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  padding-top: 71px;
  margin-bottom: 30px;
}
.what p {
  font-size: 16px;
  margin: 0;
  margin-right: 10px;
  margin-top: 5px;
  line-height: 30px;
}
.what p ul li h5 {
  margin: 0;
  font-size: 15px !important;
}
.what .btn {
  background-color: #0B7E91;
  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
}

.about {
  margin-top: 90px;
}
.about .about-header h5 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px !important;
}
.about .about-content {
  margin-top: 15px;
}
.about .about-content ul li {
  margin-top: 10px;
}
.about .about-content p{
  font-size: 16px;
  color: #666;
  line-height: 30px;
}
.about .about-content ul li h6 {
  font-size: 17px !important;
  line-height: 30px;
}
.about .about-content ul li h5 {
  font-size: 17px;
}
.about .about-img img {
  width: 100%;
  max-width: 445px;
  max-height: 488px;
  margin-top: -80px;
}
.about .btn {
  background-color: #f75a33;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.about-cards .card{
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 5px;
}

.about-cards .card h5{
  font-weight: bold;
}

.feature-div {
  background-position: right;
  background-size: cover;
  position: relative;
  margin-top: 50px;
}
.feature-div::before {
  content: "";
  background-image: linear-gradient(to right, rgba(11, 126, 145, 0), #0b7e91, #0b7e91, #0b7e91);
  width: 100%;
  height: 100%;
  position: absolute;
}
.feature-div h5 {
  margin-top: 50px;
  font-size: 30px;
}
.feature-div p {
  margin-bottom: 90px;
  font-size: 16px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  line-height: 28px;
  margin-bottom: 300px;
}
.feature-div h5, .feature-div p {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 999;
}

.features {
  margin-top: -210px;
  position: relative;
  z-index: 9;
}
.features p {
  font-size: 16px;
}
.features .parent-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 80px;
}
.features .parent-card .head-section {
  text-align: center;
}
.features .parent-card .head-section h5 {
  margin: 0;
  color: #000;
}
.features .parent-card .head-section p {
  margin: 0;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 40px;
}
.features .parent-card .slider-item {
  padding: 20px;
}
.features .parent-card h5 {
  font-size: 30px;
  font-weight: bold;
  color: #8c4b9d;
}
.features .parent-card p {
  font-size: 18px;
  margin: auto;
  margin-top: 50px;
  width: 85%;
  margin-bottom: 50px;
}
.features .parent-card .card {
  text-align: center;
  border: 0;
  margin-bottom: 20px;
  height: 250px;
}
.features .parent-card .card .card-img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #17BFDA;
  margin: auto;
  position: relative;
}
.features .parent-card .card .card-img i {
  margin: auto;
  position: absolute;
  color: #fff;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features .parent-card .card .card-title {
  font-size: 18px;
  margin-top: 20px;
  color: #000;
}
.features .parent-card .card .card-text {
  margin: 0;
  margin: auto;
  margin-top: 16px;
  width: 100%;
  font-size: 15px;
}

.order-your-hull {
  background-image: url("../images/order.png");
  background-position: right;
  background-size: cover;
  position: relative;
  margin-top: 50px;
  text-align: center;
  height: auto;
  margin-top: 85px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.order-your-hull h5 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.order-your-hull p {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
.order-your-hull h5,
.order-your-hull p {
  position: relative;
  z-index: 3;
}

.show-application {
  margin-top: 70px;
}
.show-application .show-header {
  text-align: center;
  margin-bottom: 40px;
}
.show-application .show-header h5 {
  margin-bottom: 0 !important;
  color: #000 !important;
}
.show-application .show-header p {
  color: #c3c3c3;
}
.show-application img {
  margin: auto;
  cursor: zoom-in;
  max-width: 260px;
  max-height: auto;
}

.live-show {
  height: 430px;
  background-size: cover;
  background-position: right;
  text-align: center;
  margin-top: 90px;
  padding-top: 68px;
  position: relative;
}
.live-show::after {
  content: "";
  background-image: linear-gradient(to left, rgba(23, 191, 218, 0), #17bfda, #17bfda);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.live-show h5 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.download {
  text-align: center;
  position: relative;
  z-index: 3;
}
.live-show-img .live-img {
  height: 583px;
  margin-top: -230px;
}
.download .down {
  font-size: 25px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: bold;
  width: 40%;
}
.download a {
  text-decoration: none;
}
.download a img {
  height: 75px;
}

footer {
  background-color: #0B7E91;
  margin-top: 75px;
  text-align: center;
  padding-top: 75px;
  position: relative;
  padding-bottom: 30px;
}
footer::before {
  content: "";
  position: absolute;
  background-color: #0094a7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
footer .footer-logo img {
  width: auto;
}
footer .footer-navbar {
  color: #fff;
  margin-top: 26px;
}
footer .footer-navbar .nav-link {
  color: #fff !important;
  margin: 10px;
}
footer .footer-navbar .active .nav-link {
  background-color: #f6da63;
  border-radius: 20px;
  color: #000 !important;
}

@media (max-width: 1025px) {
  .header .header-content img {
    height: 435px !important;
  }

  .header .header-content img {
    display: none;
  }

  .features .parent-card .card {
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .navbar {
    position: fixed !important;
    background-color: #f75a33 !important;
    text-align: center;
    padding: 10px !important;
  }
  .navbar .navbar-nav {
    margin-top: 30px;
  }

  .header .header-content img {
    display: none;
  }

  .header-slider .slick-next {
    right: 6%;
  }

  .what .card-what {
    padding-bottom: 30px;
  }

  .what .card-what img {
    display: none;
  }

  .about .about-img img {
    margin: auto;
  }

  footer {
    padding-bottom: 30px;
  }

  .footer-navbar {
    display: none;
  }

  .features .parent-card .card {
    margin-bottom: 30px;
  }
}
@media (max-width: 524px) {
  .header .header-content img {
    display: none;
  }

  .header .header-content {
    padding-top: 50px;
  }

  .live-show img {
    height: 400px !important;
  }

  .order-your-hull p {
    width: 100%;
  }

  .download .down {
    width: 100%;
  }

  .order-your-hull {
    padding: 40px;
  }

  .header-slider .slick-arrow {
    top: 95%;
  }

  .header-slider .slick-prev {
    left: 10%;
  }

  .header-slider .slick-next {
    left: 25%;
  }

  .features .parent-card {
    padding: 20px;
  }

  .features .parent-card .card {
    margin: 30px;
  }
}
.show-application .show-header h5 {
  color: #f75a33;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-bottom: 80px;
}

.header-slider .slick-arrow::before {
  font-family: "FontAwesome";
  font-weight: 900;
}

.header-slider .slick-arrow::before {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
}

/*# sourceMappingURL=style.css.map */
